{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link  " href="/admin-dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin-doctor">
          <i class="bi bi-person-badge"></i>
          <span>Doctor</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin-patient">
          <i class="bi bi-people"></i>
          <span>Patient</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin-appointment">
          <i class="bi bi-calendar2-check"></i>
          <span>Appointment</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{%include 'hospital/admin_dashboard_cards.html'%}

<div class="col-xxl-4 col-md-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Recent Doctors</h5>
      <!-- Default Table -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Mobile</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        {% for d in doctors %}
        <tbody>
          <tr>
            <td> {{d.get_name}}</td>
            <td>{{d.department}}</td>
            <td>{{d.mobile}}</td>
            {%if d.status%}
            <td> <span class="badge bg-primary">Permanent</span></td>
            {% else %}
            <td> <span class="badge bg-danger">On Hold</span></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-xxl-4 col-md-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Recent Patients</h5>
      <!-- Default Table -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for p in patients %}
            <td>{{p.get_name}}</td>
            <td>{{p.symptoms}}</td>
            <td>{{p.mobile}}</td>
            <td>{{p.address}}</td>
            {%if p.status%}
            <td> <span class="badge bg-success">Admitted</span></td>
            {% else %}
            <td> <span class="badge bg-danger">On Hold</span></td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
      </table>
  <!-- End Default Table Example -->
</div>
</div>
</div>
{% endblock content %}